<form acticon="/trakt" method="post">  
  Username: <input type="text" id="username" name="username"> 
  <br>
  API_code: <input type ="text" id="api_key" name="api_key"> 
  <br>  
  <input type="submit"> 
</form> 
